.app {
    display: grid;
    grid-template-columns: 25% 1fr;
    gap: 30px;
    padding: 30px;
    &__sidebar {
        height: calc(100vh - 60px);
        display: grid;
        grid-template-rows: auto 1fr;
    }
    &__content {

    }
}