.add-todo {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #000000;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__input {

    }
    &__textarea {

    }
    &__date {

    }
    &__btn {

    }
}

.dropzone {

}